.header {
  background-image: url(../img/header__background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;

}

.header__nav {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
  align-items: center;
}

.header__nav-wrapper {
  font-size: 18px;
  display: flex;
  gap: 47px;
}

.header__nav-button {
  width: 160px;
  height: 50px;
  font-size: 14px;
}

.header__box {
  width: 782px;
  margin: 128px auto 0 auto;
}

.header__title {
  font-weight: 900;
  text-align: center;
  font-size: 72px;
  line-height: 88px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.055em;
  margin-top: 35px;
}
